<nav class="navbar">

  <a
    class="navbar-brand"
    href="{{ url_for('pages.dashboard') }}"
  >

    <img
      id="theme-logo"
      src="{{ url_for('static', filename='img/logo/logo_dark.svg') }}"
      alt="{{ APP_NAME }}"
    >

  </a>

  <div class="navbar-links">

    <a
      class="nav-link"
      href="{{ url_for('pages.dashboard') }}"
    >
      Dashboard
    </a>

    <a
      class="nav-link"
      href="{{ url_for('user.profile') }}"
    >
      Perfil
    </a>

    <button
      id="theme-toggle"
      class="btn btn-sm"
    >
      <i class="bi bi-moon"></i>
    </button>

  </div>

</nav>